CONFIG/.config/zsh/.zsh_history
CONFIG/.config/zsh/.zcompdump

CONFIG/.config/nvim/plugged
CONFIG/.config/nvim/autoload
CONFIG/.config/nvim/.undodir

CONFIG/.config/vifm/vifm-help.txt
CONFIG/.config/vifm/vifminfo.json
CONFIG/.config/vifm/scripts

