zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/cache

nvim/.config/nvim/plugged
nvim/.config/nvim/autoload
nvim/.config/nvim/.undodir

vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo.json
vifm/.config/vifm/scripts

local/.local/bin/*
!local/.local/bin/dwms
local/.local/share
